* {
    box-sizing:border-box;
    margin: 0;
}

body {
    width:100vw;
    height:100vh;
    overflow-x:hidden;
    background-color:#EBEBEB;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    max-width:62.5rem;
}

.header__container {
    display: flex;
    position: relative;
    height: 34rem;
    width: 62.5rem;

}

.header__container--blue {
    background-color:#c7ddea;
    background-image:url("Images/family.png");
    background-size: 17.9rem auto;
    background-repeat:no-repeat;
    background-position: 90% 100%;
    max-width: 31.25rem;
    height: 34rem;
    position:absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.4rem 6.5rem;
}

.header__container--blue h1 {
    color:black;
    font-size: 45px;
    font-family:'Frank Ruhl Libre',serif;
    font-weight:900;
    line-height: 45px;
}

.header__container--blue p {
    color:black;
    opacity:0.6;
    font-family:'Fira Sans', sans-serif;
    font-weight:500;
    font-size:14px;
    line-height: 24px;
    margin-top: 10px;
}

.header__container--highlight {
    color: #ffffff;
}

.header__container--blue button {
    margin-right: auto;
    margin-top: 3rem;
}

.header__container--orange {
    background-color:#F17949;
    min-width: 31.25rem;
    height: 272px;
    position:absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__container--yellow {
    background-color:#FFB939;
    font-family:'Frank Ruhl Libre',serif;
    color:#ffffff;
    min-width: 31.25rem;
    height: 272px;
    position:absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__container--orange p, .header__container--yellow p {
    font-size: 11px;
    font-weight: 700;
    font-family:'Fira Sans', sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

.header__container--orange h2, .header__container--yellow h2 {
    font-size: 32px;
    font-weight: 900;
    font-family:'Frank Ruhl Libre',serif;
    color:#ffffff;
    margin: 0;
}

.header__nav {
    width: 62.5rem;
    height: 60px;
    font-family:'Fira Sans', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    color: black;
}

a:first-child {
    color: black;
}

.main {
    max-width:62.5rem;
}

.main__divider {
    background: linear-gradient(#A9A19E 50%, #FAB131 50%);
    min-width: 62.5rem;
}

.main__container--top {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.main__heading--top {
    font-family: 'Frank Ruhl Libre',serif;
    font-size: 45px;
    font-weight: 900;
    color: #ffffff;
    width: 20rem;
    margin: 6.5rem 0 8.3rem 0;
}

.main__bodytext--top {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 24px;
    width: 19rem;
    margin: 6.5rem 0 8.3rem 0;
}

.main__card {
    max-width: 62.5rem;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

.main__card--child {
    background-color: #ffffff;
    width: 16rem;
    height: 19.2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.main__box--child {
    background-color:#c7ddea;
    background-image:url("Images/child.png");
    background-size:90px;
    background-repeat:no-repeat;
    background-position:50% 10px;
    width:14.8rem;
    height:9.4rem;
    border-radius: 4px;
    transform: translateY(-1.5rem);
}

.main__card--adult {
    background-color: #ffffff;
    width: 16rem;
    height: 19.2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.main__box--adult {
    background-color: #FFB939;
    background-image:url("Images/adult.png");
    background-size:100px;
    background-repeat:no-repeat;
    background-position:50% 10px;
    width:14.8rem;
    height:9.4rem;
    border-radius: 4px;
    transform: translateY(-1.5rem);
}

.main__card--old {
    background-color: #ffffff;
    width: 16rem;
    height: 19.2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.main__box--old {
    background-color: #F17949;
    background-image: url("Images/old.png");
    background-size:130px;
    background-repeat:no-repeat;
    background-position:50% 15px;
    width:14.8rem;
    height:9.4rem;
    border-radius: 4px;
    transform: translateY(-1.5rem);
}

.main__card--child h5, 
.main__card--adult h5, 
.main__card--old h5 {
    font-family: 'Frank Ruhl Libre',serif;
    font-size: 16px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

.main__card--child p, 
.main__card--adult p, 
.main__card--old p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    margin: 10px 15px;
}

.main__container--bottom {
    display: flex;
    justify-content: center;
}

.main__heading--bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 27.5rem;
}

.main__heading--bottom h1 {
    font-family: 'Frank Ruhl Libre',serif;
    font-size: 45px;
    font-weight: 900;
    color: #ffffff;
    margin: 50px 0 30px 0;
}

.main__heading--bottom p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 20px;
}

.main__heading--bottom p:last-child {
    margin: 1rem 0 9.3rem 0;
}

.main__boxes {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 42.5rem;
}

.main__boxes--00 {
    background-color: #c7ddea;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21.25rem;
}

.main__boxes--01 {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 21.25rem;
}

.main__boxes--02 {
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 21.25rem;
}

.main__boxes--03 {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 21.25rem;
}

.main__boxes--04 {
    background-color: #F17949;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 21.25rem;
}

.main__boxes--05 {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 21.25rem;
}

.main__boxes--00 h1 {
    font-family: 'Frank Ruhl Libre',serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: 0 30px;
}

.main__boxes--01 h3, 
.main__boxes--02 h3,
.main__boxes--03 h3,
.main__boxes--04 h3,
.main__boxes--05 h3 {
    font-family: 'Frank Ruhl Libre',serif;
    font-size: 35px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.4);
    margin: 20px 0 auto 30px;
    
}

.main__boxes--01 p, 
.main__boxes--02 p,
.main__boxes--03 p,
.main__boxes--04 p,
.main__boxes--05 p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 0 70px 150px 70px;
}

.footer {
    min-width:62.5rem;
    min-height: 25.5rem;
    background-color: #777574;
}

.footer__nav {
    min-height: 5rem;
    background-color: #A9A19E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__nav a:last-child {
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

.button {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
    border-radius: 6.25rem;
    padding: 12px 40px;
    border: none;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}